<!DOCTYPE html>
<html>
	<head>
		<title>my-node-chat</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/jada.min.css" >
		<link rel="stylesheet" href="css/chat.css" >
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="../socket.io/socket.io.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/client.js"></script>
	</head>
	<body>
		<div class="banner-blue">
			<div class="grid">
				<h1>my-node-chat</h1>
			</div>
		</div>
		
		<div class="userdata">
			<input id="name" type="text" placeholder="Benutzername" class="input-underline">
			<input id="text" type="text" placeholder="Nachricht.." class="input-underline">
			<input id="senden" type="submit" class="bttn bttn-blue bttn-sm" value="Senden" >
		</div>
			
		
		
		<div class="grid2">
			<ul id="content"></ul>
		
		
		</div>
		
	</body>
</html>